body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.container {
    max-width: 1155px;
    padding: 0 15px;
    margin: 0 auto;
}

.title__all {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    margin-bottom: 50px;
}

.header {
    padding-top: 15px;
    margin-bottom: 112px;
}

.menu__list-item {
    margin-left: 24px;
}

.menu__list-item:last-child {
    margin-right: 50px;
}

.menu__list-link {
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    font-weight: 400;
}

.menu__list-link:hover {
    opacity: 0.5;
}


.menu__btn {
    padding: 11px 24px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #fff;
    color: #173A56;
    font-weight: 600;
    line-height: 24px;
    transition: .5s;
    margin-left: 14px;
    cursor: pointer;
    font-size: 16px;
}

.menu__btn:hover {
    background-color: #FF9900;
    color: #fff;
}

.title {
    max-width: 518px;
}

.header__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}

.header__title-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #544837;
    margin-bottom: 45px;
}

.header__title-btn {
    padding: 14px 41px;
    background-color: #fff;
    border: 1px solid #BCD0E5;
    color: #173A56;
    line-height: 24px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 30px;
    transition: .5s;
    cursor: pointer;
}

.header__title-btn:hover {
    background-color: #FF9900;
    color: #fff;
}

.header__title-video {
    line-height: 24px;
    font-weight: 600;
    color: #FF9900;
    padding-left: 25px;
    position: relative;
    text-decoration: underline;
    transition: 0.5s;
}

.header__title-video::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 17px solid #FF9900;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 3px;
    left: 0;
}

.header__title-video:hover {
    opacity: .5;
}

.superpowers {
    margin-bottom: 120px;
}

.superpowers__title {
    max-width: 539px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
    padding: 0 10px;
}

.superpowers__bg {
    background-image: url(../images/superpowers-bg.svg);
    background-repeat: no-repeat;
    padding-bottom: 90px;
    background-position: center bottom;
    background-size: cover;
}

.superpowers__inner {
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
}

.superpowers__tool {
    max-width: 240px;
}

.superpowers__tool-bg {
    width: 50px;
    height: 50px;
    background-color: #7752BE;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.superpowers__tool-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-bottom: 13px;
}

.superpowers__tool-text {
    line-height: 26px;
}

.bg__tool-2 {
    background-color: #FAB005;
}

.bg__heart {
    background-color: #F03E3D;
}

.bg__clock {
    background-color: #4DADF7;
}

.btn__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.superpowers__btn {
    padding: 15px 33px;
    border: 1px solid #BCD0E5;
    color: #173A56;
    background-color: #fff;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 4px;
    cursor: pointer;
}

.superpowers__btn:hover {
    background-color: #FF9900;
    color: #fff;
}

.design {
    margin-bottom: 157px;
}

.design__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 101px;
}

.design__text-content {
    max-width: 486px;
}

.text {
    line-height: 26px;
    font-size: 16px;
    color: #544837;
}

.titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 22px;
}

.title-sm {
    line-height: 26px;
    color: #2F281E;
    margin-top: 25px;
    margin-bottom: 12px;
}

.menagers__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

.text__mb {
    margin-bottom: 30px;
    padding-left: 64px;
    position: relative;
}

.menagers__text {
    max-width: 486px;
}

.text__checkbox::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #FF9900;
    top: 5px;
    left: 0;
    background-image: url(../images/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 13px;
}

.marketers__text {
    max-width: 486px;
}

.team {
    background-image: url(../images/team-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 30px;
}

.team__inner {
    padding: 230px 0 380px;
    position: relative;
}

.team__box {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.team__text {
    margin-bottom: 45px;
}

.team__btn {
    padding: 14px 31px;
    background-color: #fff;
    border: 1px solid #BCD0E5;
    color: #173A56;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    transition: .5s;
    cursor: pointer;
}

.team__btn:hover {
    background-color: #FF9900;
    color: #fff;
}

.team__item {
    position: absolute;
    width: 98px;
    height: 98px;
}

.team__item-1 {
    top: 157px;
    right: 95px;
}

.team__item-2 {
    top: 223px;
    left: 0px;
}

.team__item-3 {
    bottom: 257px;
    right: 0;
}

.team__item-4 {
    bottom: 233px;
    left: 210px;
}

.team__item-5 {
    bottom: 135px;
    right: 300px;
}

.team__item-img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.team__item-text {
    background-color: #fff;
    padding: 14px 20px 15px;
    line-height: 24px;
    color: #2F281E;
    border-radius: 26px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    position: absolute;
    top: -30px;
    right: 75px;
    white-space: nowrap;
}

.team__item-text.team__item-text--left {
   top: -40px;
   right: auto;
   left: 62px;
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::before,
.team__item-text--left::after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
    width: 17px;
    height: 19px;
    bottom: -7px;
    right: 30px;
}

.team__item-text--right::before,
.team__item-text--left::before {
   width: 9px;
   height: 9px;
   bottom: -17px;
   right: 9px;
}

.team__item-text--left::before {
   left: 9px;
   right: auto; 
}

.team__item-text--left::after {
  left: 30px;
  right: auto;
}